<div class="col-md-4">
		<div class="profile-img">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
				alt="" />
			<div class="file btn btn-lg btn-primary">
				Change Photo
				<input type="file" name="file" />
			</div>
		</div>

		<div class="profile-work">
			<p>Personal Details</p>
			<ul>
				<li><a href="/users/dashboard">Dashboard</a></li>
				<li><a href="/users/profile">Edit Profile</a></li>
				<li><a href="/documents">Documents</a></li>
				<li><a href="/packages">Packages</a></li>
				<li><a href="/appointments">Appointments</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<p>Doctor Details</p>
			<ul>
				<li><a href="">Appointment Requests</a></li>
			</ul>
		</div>

	</div>